<div style="width: 100%; padding: 0; background-color: #F2F2F4;">
    <div style="width: 600px; margin:0px auto;" align="center" width="600">

        <table style="width: 100%; margin:0px auto; font-family: 'Arial', arial;" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th>
                        <div style="text-align: right; background-color: #ff2e60;">
                            <a href="#" target="_blank" style="text-decoration: none;">
                                <img style="margin: 10px 20px 10px 0; width: 160px;" width="160" src="https://backend.meatapp.com.br/static/images/logo-alt.png"  alt="m.eat" />
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td valign="top" style="background-color: #FFF; padding: 10px 20px; color: #363838; font-size: 18px; line-height: 26px;">
                        <div >

                            
                            <h3>Olá {{nome}}</h3>
                            <p>♻ Recupere a sua senha no portal de parceiro m.eat. Seu código para alterar a senha é:</p>
                            <span style="letter-spacing: 10px; font-size: 18px; text-transform: uppercase; box-sizing: border-box; display: block; width: 80%; padding: 12px; margin: 20px auto; border-radius: 25px; background-color: transparent; border: 1px solid #ff2e60; color: #ff2e60; font-weight: 600; text-align: center; text-decoration: none;">
                                {{token}}
                            </span>
                            <p><b>Importante:</b> Caso não tenha solicitado uma nova senha, desconsidere esse e-mail.</p>


                            <div style="font-size: 14px; text-align: center; border-top: 1px solid #F2F2F4; font-weight: bold; padding: 20px 0 10px 0; margin-top: 10px;">
                                m.eat, o maior aplicativo de comida artesanal.
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td valign="top" style="padding: 20px;">
                        <table style="width: 100%; margin:0px auto; font-family: 'Arial', arial;" cellspacing="0" cellpadding="0" border="0">
                            <td>
                                <a href="https://meatapp.com.br" target="_blank" style="color: #363838; font-size: 14px; font-weight: bold; text-decoration: none; display: block;">
                                    meatapp.com.br
                                </a>
                                <a href="mailto:contato@meatapp.com.br" style="color: #363838; font-size: 14px; text-decoration: none; display: block; margin-top: 5px;">
                                    contato@meatapp.com.br
                                </a>
                            </td>
                            <td style="text-align: right;">
                                <a href="https://www.facebook.com/meatapp/" target="_blank" style="text-decoration: none; display: inline-block; height: 35px; margin-right: 5px;">
                                    <img src="https://backend.meatapp.com.br/static/images/btn-facebook.png" alt="facebook" width="35" style="width: 35px; height: 35px;" />
                                </a>
                                <a href="https://www.youtube.com/channel/UCHB-_pyeJROStQQRjiFRvmA" target="_blank" style="text-decoration: none; display: inline-block; height: 35px; margin-right: 5px;">
                                    <img src="https://backend.meatapp.com.br/static/images/btn-youtube.png" alt="youtube" width="35" style="width: 35px; height: 35px;" />
                                </a>
                                <a href="https://www.instagram.com/meat.app/?hl=pt-br" target="_blank" style="text-decoration: none; display: inline-block; height: 35px; margin-right: 5px;">
                                    <img src="https://backend.meatapp.com.br/static/images/btn-instagram.png" alt="instagram" width="35" style="width: 35px; height: 35px;" />
                                </a>
                            </td>
                            <td style="text-align: right">
                                <span style="display: inline-block; vertical-align: top; font-weight: bold; height: 35px; line-height: 35px; color: #363838; font-size: 14px; " text-align="right">
                                    meat.app
                                </span>
                            </td>
                        </table>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>